


.tables{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.calendar-title {
  background-color: rgb(3, 1, 1);   
  width: 400px;               
  height: 80px;                
  margin: 20px auto;           
  border-radius: 50px;         
  display: flex;               
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px rgba(146, 0, 0, 0.789);
  position: sticky;            
  top: 10px;                   
  z-index: 1000; 
  opacity: 90%;              
}

.calendar-title h1 {
  margin: 0;
  font-size: 28px;
  color: rgb(255, 255, 255);
}